.blog-btn{
    font-weight: 900;
    color: lime;
}

// .blog-tile {
//     margin: 20px;
// }

// :host apply styling to the PARENT level coponent
:host {
    margin: 20px;
}

.fav {
    background-color: lightgray;
}

// blog-btn
// This has to be applied to ONE pasticular button
